.cards {
  margin: 1em;
  box-shadow: 0px 0px 10px 0.4px;
}
@media screen and (min-width: 640px) {
  .cards {
    width: 40%;
  }
}
@media screen and (min-width: 1100px) {
  .cards {
    width: 30%;
  }
}
.link {
  text-decoration: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 5rem;
  /* width: 100%; */
  box-shadow: 0px 0px 10px 0.4px;
}

.flex-product {
  display: flex;
  justify-content: center;
}
